
:root {
    --primary-color: #ED775A;   
    --secondary-color: #0F0E0E; 
    --accent-color: #CCE0AC;    
    --light-color: #ED775A;   
    --dark-text: #F7F7F7;       
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--dark-text);
    line-height: 1.6;
    scroll-behavior: smooth;
}


header {
    background-color: var(--primary-color);
    color: var(--dark-text);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem; 
}

nav ul li a {
    color: var(--dark-text);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color:  var(--secondary-color);
}


section {
    padding: 6rem 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--accent-color);
    margin: 10px auto 0;
    border-radius: 2px;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    gap: 2rem;
    padding-top: 10rem;
}

.hero-content h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 0;
    color: var(--primary-color);
}

.hero-content p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--dark-text);
}

.cta-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--dark-text);
    padding: 0.75rem 2.5rem;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cta-button:hover {
     transform: translateY(-3px);
    box-shadow: 0 5px 15px #e57a7a;
    background-color: rgba(0, 0, 0, 0.2);
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: none;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border:none ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.download-btn {
    background-color: var(--primary-color);
    color: var(--dark-text);
    padding: 0.75rem 2.5rem;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.download-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #e57a7a;
    background-color: rgba(0, 0, 0, 0.2);
}


.about-me {
    text-align: center;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}


.skills-list li {
    background-color: var(--light-color); 
    color: var(--dark-text);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    position: relative; 
    transition: background-color 0.3s;
}

.skills-list li:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -100px; 
    transition: opacity 0.3s;
    white-space: normal;
    font-weight: normal;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--primary-color) transparent transparent transparent;
}

.skills-list li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.education {
    text-align: center;
}

.qualification-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.qualification-card {
    background-color: var(--light-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.qualification-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.qualification-card h3 {
    color: var(--primary-color);
    margin-top: 0;
}

.certificate-image {
    width: 100%;
    height: 200px; 
    background-color: var(--light-color); 
    border-radius: 8px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-text);
    font-size: 1rem;
    overflow: hidden; 
}

.certificate-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.projects {
    background-color: var(--secondary-color);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background-color: var(--light-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card .project-image {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: var(--light-color); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-text);
}

.project-card .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card h3 {
    color: var(--secondary-color);
}

.project-link {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--dark-text);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: var(--secondary-color);
}


.contact {
    text-align: center;
}


.contact-links-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.contact-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.contact-item a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item a:hover {
    color: var(--dark-text);
    transform: scale(1.1);
}

.contact-item img,
.contact-item svg {
    width: 48px;
    height: 48px;
    transition: transform 0.3s;
    fill: var(--primary-color);
}

.contact-item a:hover img,
.contact-item a:hover svg {
    transform: scale(1.1);
    fill: var(--primary-color);
}


footer {
    background-color: var(--primary-color);
    color: var(--dark-text);
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
}